.pagination {
	text-align: center;
}
a img {
	border:0px;
}
.swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #999;
	box-shadow: 0px 1px 2px #555 inset;
	margin: 0 3px;
	cursor: pointer;
}
.swiper-pagination-switch.swiper-visible-switch.swiper-active-switch {
	background:#ccc;
}
.swiper-slide {
	position: relative;
	text-align:center;
	overflow:hidden;
}
.swiper-slide .caption {
	position:absolute;
	top:200px;
	width:95%;
	padding:1% 2.5%;
	color:#333;
	font-size:0.9em;
}

.swipe-nav {
	position: absolute;
	top:40%;
	background:#000;
	text-indent:-9999px;
	height:40px;
	width:35px;
	z-index:9999;
	cursor:pointer;
}

.swipe-nav.right {
	right:0;
	background: transparent url('../img/right.png') no-repeat center center;
}
.swipe-nav.left {
	left:0;
	background: transparent url('../img/left.png') no-repeat center center;
}
.swipe-nav:hover {
	background-color:#333;
}